{% extends 'base.html' %}

{% block title %}Food Classifier{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="mb-3">Upload Image for Prediction</h1>
    <!-- Form to upload file -->
    <form action="{{ url_for('predict_photo') }}" method="post" enctype="multipart/form-data" class="mb-3">
        <div class="form-row align-items-center" id="photo-prediction-upload">
            <div class="col-sm-8">
                <label for="fileUpload" class="sr-only">Choose an image to upload:</label>
                <input type="file" class="form-control" id="fileUpload" name="file" required>
            </div>
            <div class="col-sm-4">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}